html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
    background-color: #0C9E5A;
    display: flex;
    flex-direction: column;
}





